server:
  port: 8081
spring:
  application:
    name: eureka-config-client
  cloud:
    bus:
      trace:
        enabled: true #开启消息跟踪
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

## 刷新时，关闭安全验证
management:
  security:
    enabled: false