server:
  port: 8899
spring:
  application:
    name: eureka-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Linliuxing/spring-cloud
          search-paths: config-repo
          #私库才用账号密码
          username:
          password          default-label: master
  rabbitmq:
      host: 127.0.0.1
      port: 5672
      username: guest
      password: guest
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

## 刷新时，关闭安全验证
#2.*版本
management:
  endpoints:
    web:
      exposure:
        include: bus-refresh

#1.*版本
#management.security.enabled=false